// Custom Chat Styling


#custom-chat {

  .container {
    max-width: 1170px;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }

  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }


  .recent_heading {
    float: left;
  }

  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: $primary;
    font-size: 19px;
    margin: auto;
  }

  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
  }

  .chat_ib h5 span {
    font-size: 13px;
    float: right;
  }

  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
  }

  .chat_ib {
    float: left;
    width: 100%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }

  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 10px 10px 5px;
    cursor: pointer;
  }

  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: $primary none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .messaging {
    padding: 0 0 50px 0;
  }

}


.conversations {
  height: calc(100vh - 200px);
  min-height: calc(100vh - 200px);

  .scroll {
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
  }

  .chat-send {
    height: 38px;
  }

  .chat {
    position: relative;

    .spinner {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;
    }

    .input-group {
      width: 100%;
      height: 38px;
    }
  }
}

.chatContent {
  width: 100%;
  height: calc(100% - 38px);

  .wrapper {
    .message {
      display: inline-block;
      max-width: 80%;
      min-width: 150px;

      .content {
        background-color: $gray-100;
        padding: 0.5em;
        border-radius: 10px;
      }

      .date {
        text-align: right;
      }
    }

    &.other {
      display: flex;
      justify-content: flex-end;

      .date {
        text-align: left;
      }
    }
  }
}
