.download-card {
  min-height: 300px;

  img {
    min-height: 150px;
    max-height: 150px;
  }
}


.row-bordered {
  position: relative;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 25px;
  left: 15px;
  right: 15px;
}


.table {
  .table-nowrap {
    width: 1px;
    white-space: nowrap;
  }
}


.health-color {
  color: #ff1a26;
}

.mana-color {
  color: #292dff;
}

.bg-trader {
  background-color: #19fd00;
}

.bg-hunter {
  background-color: #4356fd;
}

.bg-thief {
  background-color: #952551;
}

.bg-none {
  background-color: #a8a8a8;
}
