.download-card {
  min-height: 300px;

  img {
    min-height: 150px;
    max-height: 150px;
  }
}


.row-bordered {
  position: relative;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 25px;
  left: 15px;
  right: 15px;
}
